body{
  /* background-color: aqua; */
  margin: 0px;
  padding: 0px;
  font-family: 'Times New Roman', Times, serif;
}
.active_nav{
  color: #255f04;
  border-bottom: 1px solid #028108;
}
.talent{
  font-size: 20px;
}
.btn-get{
  width: 150px;
}
.animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down {

  0%{
    transform: translateY(10px) !important;
  }
  
 100%{
    transform: translateY(-10px);
  }
}
@keyframes up-down {

  0%{
    transform: translateY(10px);
  }
  
 100%{
    transform: translateY(-10px);
  }
}